<div class="footer" >
    <div class="row">
      <div class="col-sm-12 links">
        <a href="https://www.github.com" target="_blank">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
          <span>Github</span>
        </a>
        <a href="https://www.medium.com" target="_blank">
          <i class="fa fa-medium fa-2x" aria-hidden="true"></i>
          <span>Medium</span>
        </a>
        <a href="https://www.twitter.com" target="_blank">
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          <span>Twitter</span>
        </a>
        <a href="https://www.youtube.com"
           target="_blank">
          <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
          <span>Youtube</span>
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          <span>Instagram</span>
        </a>
        <a href="https://www.slides.com" target="_blank">
          <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
          <span>Slides</span>
        </a>
      </div>
    </div>
  
  </div>

